
.places-panel {
  min-width  : 400px;
  min-height : 100px;
  background : rgba(51, 51, 51, 0.7);
}

.places-node {
  position : relative;
  float    : left;
  margin   : 6px 3px;
  padding  : 5px;
  border   : solid 1px transparent;
}

.places-node:hover {
  /*background   : rgba(51, 51, 51, 0.9);*/
  border-color : #666;
}

.places-label {
  font-size  : 9pt;
  position   : absolute;
  top        : 6px;
  left       : 6px;
  padding    : 0 3px;
  color      : #69dcff;
  background : rgba(51, 51, 51, 0.7);
}

.places-node:hover .places-label {
  color      : #fff;
  background : rgba(51, 51, 51, 1.0);
}